.App {
  text-align: center;
  min-height: 100vh;
  background-color: #282c34;
  color: white;
}

.App-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  padding: 20px;
}

h3,
h4 {
  margin: 0;
}

.monster-card {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px;
}

.player-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  padding: 20px;
}

.player-card {
  display: flex;
  flex-direction: column;
  padding: 5px;
  margin: 5px;
  width: 150px;
  border: 1px solid silver;
}

.card-container {
  display: flex;
}

.card-description {
  margin: 0;
}
